/* ##### mobile first ##### */

.breadcrumbs {
    width: 100%;
    text-align: left;
    padding: 2rem 3rem;
    background-color: #F7F5F5;
}

.breadcrumbs a,
.breadcrumbs span {
    text-transform: uppercase;
    font-size: 1.1rem;
}

.main-fashion-illustration {
    width: 100vw;
    max-width: 512px;
}

.main-fashion-illustration article:nth-of-type(2n+1) {
    background-color: #F7F5F5;
}

.main-fashion-illustration h1 {
    margin: 3rem;
}

.main-fashion-illustration h2,
.main-fashion-illustration p {
    width: 80%;
    margin: 0 auto;
}

.main-fashion-illustration article {
    width: 100vw;
    max-width: 512px;
    padding: 1.5rem 0;
}

.main-fashion-illustration article:last-child {
    margin-bottom: 0;
}

.main-fashion-illustration article a {
    display: block;
    width: 80vw;
    height: 80vw;
    overflow: hidden;
    margin: 1rem auto;
    position: relative;
}

.main-fashion-illustration article a img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-fashion-illustration article p span {
    display: block;
    margin: 1rem 0;
}

.main-fashion-illustration .garments p {
    margin: 1rem auto;
}

.main-fashion-illustration .garments p span {
    display: block;
    margin: 0.5rem;
}

.main-fashion-illustration .garments p>a {
    display: inline;
}

.main-fashion-illustration article .iconfont {
    width: 15px;
    height: 15px;
    padding: 0.2rem;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #ccc;
}


/* ##### tablet small ##### */

@media screen and (min-width: 512px) {
    .breadcrumbs a,
    .breadcrumbs span {
        font-size: 1.2rem;
    }
    .main-fashion-illustration {
        max-width: 768px;
    }
    .main-fashion-illustration article:nth-of-type(2n+1) {
        background-color: transparent;
    }
    .main-fashion-illustration article:nth-of-type(4n+1),
    .main-fashion-illustration article:nth-of-type(4n+2) {
        background-color: #F7F5F5;
    }
    .main-fashion-illustration .art-container {
        width: 100%;
        max-width: 768px;
        display: flex;
        flex-wrap: wrap;
    }
    .main-fashion-illustration .art-container article {
        width: 50%;
    }
    .main-fashion-illustration .art-container article a {
        width: 40vw;
        height: 40vw;
    }
}


/* ##### tablet large ##### */

@media screen and (min-width: 768px) {
    header+section ul {
        display: flex;
        justify-content: center;
    }
    header+section ul li {
        margin: 1.5rem 2rem;
        padding: 0.5rem 0;
        font-size: 1.3rem;
    }
    header+section ul li.active {
        border-bottom: 1px solid #000;
    }
    .breadcrumbs a,
    .breadcrumbs span {
        font-size: 1.3rem;
    }
    .main-fashion-illustration {
        max-width: 1024px;
        display: flex;
        flex-wrap: wrap;
        background-color: #F7F5F5;
    }
    .main-fashion-illustration article:nth-of-type(4n+1),
    .main-fashion-illustration article:nth-of-type(4n+2) {
        background-color: transparent;
    }
    .main-fashion-illustration article {
        width: 33.33%;
    }
    .main-fashion-illustration article h2 {
        width: 100%;
    }
    .main-fashion-illustration article a {
        width: 28vw;
        height: 28vw;
    }
}


/* ##### desktop ##### */

@media screen and (min-width: 1024px) {
    .breadcrumbs a,
    .breadcrumbs span,
    header+section ul li {
        font-size: 1.5rem;
    }
    .main-fashion-illustration {
        max-width: 1920px;
    }
    .main-fashion-illustration article {
        width: 25%;
    }
    .main-fashion-illustration article a {
        width: 20vw;
        height: 20vw;
    }
}